{
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    },
    {
      "files": "*.!(css)",
      "options": {
        "plugins": [
          "@ianvs/prettier-plugin-sort-imports",
          "prettier-plugin-jsdoc"
        ],
        "importOrder": [
          "^react",
          "^@[a-zA-Z]",
          "^[a-zA-Z]",
          "^@/",
          "^/",
          "^./",
          "^../"
        ],
        "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
        "jsdocCapitalizeDescription": false,
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
