volumes:
  postgres_data:

services:
  backend:
    build: ./backend
    depends_on:
      - db
      - memcached
    env_file:
      - .env
    volumes:
      - ./backend/src:/app/src
      - ./data/:/data/

  frontend:
    build: ./frontend
    depends_on:
      - backend

  memcached:
    image: memcached:latest

  db:
    image: postgres:17
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-exports/:/db-exports/
