.ring {
  animation:
    spin var(--duration) linear both infinite,
    pulse 5s calc(5s * (1 - var(--percent))) linear both infinite;
  opacity: calc(1 - var(--percent));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
