.svg {
  mask-image: conic-gradient(
    from var(--angle),
    transparent 0deg,
    black 180deg,
    transparent 180deg,
    black 360deg
  );
  animation: svg-spin calc(var(--radius) * 0.1s) calc(var(--layer) * -2s) linear
    both infinite;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes svg-spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.path {
  animation: path-spin calc(var(--radius) * 0.2s) calc(var(--layer) * -2s)
    linear both infinite;
}

@keyframes path-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
