@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 35rem;
  --breakpoint-md: 50rem;
  --breakpoint-lg: 65rem;

  --font-sans: "Outfit", sans-serif;
  --font-mono: "Sometype Mono", monospace;

  --color-theme-light: hsl(220, 100%, 95%);
  --color-theme: hsl(220, 30%, 50%);
  --color-theme-dark: hsl(220, 30%, 30%);
  --color-accent: hsl(0, 60%, 60%);

  --shadow-thick: 0 0 5px #00000020, 0 2px 10px #00000020;
  --shadow-overlay: 0 0 0 9999px #00000040;
}

@layer components {
  * {
    @apply font-sans;
  }

  html {
    @apply font-thin;
  }

  body {
    @apply relative;
  }

  #root {
    @apply flex min-h-screen flex-col;
  }

  main {
    @apply flex grow flex-col;
  }

  section {
    --width: 300;
    @apply flex flex-col gap-y-4 px-[max(--spacing(8),(100%---spacing(1)*var(--width))/2)] py-8;
  }

  section:nth-of-type(even) {
    @apply bg-slate-50;
  }

  section:last-child {
    @apply grow;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply flex items-center justify-center gap-2;
  }

  h1 {
    @apply text-center text-2xl tracking-wide uppercase;
  }

  h2 {
    @apply text-center text-xl;
  }

  h3 {
    @apply justify-start text-lg font-medium;
  }

  h4 {
    @apply justify-start font-medium;
  }

  button {
    @apply cursor-pointer transition-colors;
  }

  a {
    @apply transition-all;
  }

  p > a {
    @apply underline;
  }

  strong,
  b {
    @apply font-medium!;
  }

  mark {
    @apply bg-orange-100;
  }

  label {
    @apply flex items-center gap-2;
  }

  label:has(input[type="checkbox"]) {
    @apply cursor-pointer;
  }

  input[type="checkbox"] {
    @apply accent-theme cursor-pointer;
  }

  select {
    @apply cursor-pointer;
  }

  [disabled] {
    @apply pointer-events-none;
  }

  code:not(:has(pre)) {
    @apply rounded bg-slate-200 px-1 font-mono;
  }

  code > pre {
    @apply overflow-x-auto rounded bg-slate-700 p-4 font-mono text-slate-300;
  }

  [class^="hljs-"] {
    @apply font-mono;
  }

  .hljs-meta,
  .hljs-comment {
    @apply text-slate-500;
  }

  .hljs-string {
    @apply text-green-300;
  }

  .hljs-keyword {
    @apply text-orange-300;
  }

  .lucide {
    @apply h-[1em] w-[unset] overflow-visible;
  }

  :not(html) ::-webkit-scrollbar {
    @apply size-2 rounded-full bg-slate-200;
  }

  :not(html) ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-400;
  }
}

@utility truncate-lines {
  &:not(:focus) {
    @apply line-clamp-3 max-w-full cursor-zoom-in overflow-hidden;
  }

  &:focus {
    @apply rounded outline outline-offset-2 outline-slate-300;
  }
}

@utility narrow {
  &:is(section) {
    --width: 150;
  }
}

@utility full {
  &:is(section) {
    --width: 1000;
  }
}
