@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 35rem;
  --breakpoint-md: 50rem;
  --breakpoint-lg: 65rem;

  --font-sans: "Outfit Variable", sans-serif;
  --font-mono: "Sometype Mono Variable", monospace;

  --font-weight-normal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --color-theme-light: oklch(95% 0.05 260);
  --color-theme: oklch(50% 0.1 260);
  --color-theme-dark: oklch(40% 0.1 260);
  --color-accent: oklch(65% 0.2 20);
  --color-highlight: oklch(85% 0.15 180);

  --shadow-md: 0 0 2px #00000020, 0 2px 10px #00000020;
  --shadow-thick: 0 0 5px #00000020, 0 2px 10px #00000020;
  --shadow-overlay: 0 0 0 9999px #00000040;
}

@layer base {
  html {
    @apply font-sans leading-normal font-normal;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  #root {
    @apply contents;
  }

  main {
    @apply flex grow flex-col;
  }

  section {
    --width: 300;
    @apply flex flex-col gap-8 bg-white px-[max(--spacing(12),(100%---spacing(1)*var(--width))/2)] py-12 last:grow even:bg-slate-50;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-theme flex w-full items-center gap-[0.75em] leading-normal font-normal;
  }

  h1 {
    @apply justify-center text-center text-3xl tracking-widest uppercase;
  }

  h2 {
    @apply justify-center text-center text-2xl tracking-wider uppercase;
  }

  h3 {
    @apply text-xl tracking-wide;
  }

  h4 {
    @apply text-lg tracking-wide;
  }

  a {
    @apply transition-all;
  }

  strong,
  b {
    @apply font-bold;
  }

  p {
    @apply leading-loose;
  }

  p a {
    @apply text-accent underline hover:text-current;
  }

  button {
    @apply cursor-pointer leading-none transition-all;
  }

  mark {
    @apply bg-orange-100;
  }

  label {
    @apply flex items-center gap-2;
  }

  input {
    @apply min-w-0;
  }

  textarea {
    @apply min-w-0;
  }

  label:has(input[type="checkbox"]) {
    @apply cursor-pointer;
  }

  input[type="checkbox"] {
    @apply accent-theme cursor-pointer;
  }

  select {
    @apply cursor-pointer;
  }

  dl {
    @apply grid max-w-max grid-cols-[repeat(var(--cols),auto)] rounded-md bg-slate-100 [--cols:2];
  }

  dt {
    @apply p-2 font-medium text-slate-500;
  }

  dd {
    @apply p-2;
  }

  dd:empty {
    @apply before:text-slate-500 before:content-['-'];
  }

  code:not(:has(pre)) {
    @apply rounded-md bg-slate-200 px-1 font-mono;
  }

  code > pre {
    @apply overflow-x-auto rounded-md bg-slate-700 p-4 font-mono text-slate-300;
  }

  [class^="hljs-"] {
    @apply font-mono;
  }

  .hljs-meta,
  .hljs-comment {
    @apply text-slate-500;
  }

  .hljs-string {
    @apply text-green-300;
  }

  .hljs-keyword {
    @apply text-orange-300;
  }

  .lucide {
    @apply h-[1.1em] w-[unset];
  }

  [aria-disabled="true"] {
    @apply cursor-not-allowed opacity-50 grayscale;
  }

  :not(html) ::-webkit-scrollbar {
    @apply size-2 rounded-full bg-slate-200;
  }

  :not(html) ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-400;
  }
}

@utility truncate-lines {
  &:not(:focus) {
    @apply line-clamp-3 max-w-full cursor-zoom-in overflow-hidden;
  }

  &:focus {
    @apply rounded-md outline outline-offset-2 outline-slate-300;
  }
}

@utility narrow {
  &:is(section) {
    --width: 150;
  }
}

@utility full {
  &:is(section) {
    --width: 1000;
  }
}
