@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 35rem;
  --breakpoint-md: 50rem;
  --breakpoint-lg: 65rem;

  --font-sans: "Outfit", sans-serif;
  --font-mono: "Sometype Mono", monospace;

  --color-theme-light: hsl(220, 80%, 90%);
  --color-theme: hsl(220, 30%, 50%);
  --color-theme-dark: hsl(220, 30%, 30%);
  --color-accent: hsl(0, 60%, 60%);

  --shadow-thick: 0 0 5px #00000020, 0 2px 10px #00000020;
  --shadow-overlay: 0 0 0 9999px #00000040;
}

* {
  @apply font-sans;
}

html {
  @apply font-thin;
}

body {
  @apply relative m-0;
}

#root {
  @apply flex min-h-screen flex-col;
}

main {
  @apply flex flex-grow flex-col;
}

section {
  --width: 300;
  @apply flex flex-col gap-y-4 px-[max(--spacing(8),(100%---spacing(1)*var(--width))/2)] py-8;
}

section.narrow {
  --width: 150;
}

section.full {
  --width: 1000;
}

section:nth-of-type(even) {
  @apply bg-slate-50;
}

section:last-child {
  @apply flex-grow;
}

h1,
h2,
h3,
h4 {
  @apply flex items-center justify-center gap-2;
}

h1 {
  @apply text-center text-2xl tracking-wide uppercase;
}

h2 {
  @apply text-center text-xl;
}

h3 {
  @apply justify-start text-lg font-medium;
}

h4 {
  @apply justify-start font-medium;
}

button {
  @apply cursor-pointer transition-colors;
}

a {
  @apply transition-all;
}

p > a {
  @apply underline;
}

strong,
b {
  @apply font-medium!;
}

mark {
  @apply bg-orange-100;
}

label {
  @apply flex items-center gap-2;
}

label:has(input[type="checkbox"]) {
  @apply cursor-pointer;
}

input[type="checkbox"] {
  @apply accent-theme cursor-pointer;
}

select {
  @apply cursor-pointer;
}

[disabled] {
  @apply pointer-events-none;
}

code:not(:has(pre)) {
  @apply rounded bg-slate-200 px-1 font-mono;
}

code > pre {
  @apply overflow-x-auto rounded bg-slate-700 p-4 font-mono text-slate-300;
}

[class^="hljs-"] {
  @apply font-mono;
}

.hljs-meta,
.hljs-comment {
  @apply text-slate-500;
}

.hljs-string {
  @apply text-green-300;
}

.hljs-keyword {
  @apply text-orange-300;
}

.truncate-lines:not(:focus) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  @apply max-w-full cursor-zoom-in overflow-hidden;
}

.truncate-lines:focus {
  @apply outline-theme-light rounded outline-1 outline-offset-2;
}

.lucide {
  width: unset;
  height: 1em;
  @apply overflow-visible;
}

:not(html) ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background-color: theme(--color-slate-200);
}

:not(html) ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: theme(--color-slate-400);
}
