# Explicit HTTP → HTTPS redirect
http://{$DOMAIN} {
	redir https://{$DOMAIN}{uri} 308
}

# Main site (HTTPS is automatic)
{$DOMAIN} {
	# /api -> backend:8000, but don't strip the /api prefix
	handle /api/* {
		reverse_proxy backend:8000
	}

	# serve /static from /opt/static
	handle_path /static/* {
		root * /opt/static
		file_server
	}

	handle {
		# serve requests from /opt/frontend/dist/
		root * /opt/frontend/dist

		# try files first, then fallback to index.html for SPA routing
		try_files {path} /index.html
		file_server
	}
}
